body
{
    background-color:#292929;
    color:#808080;
    padding-left:10em;
    text-align: left;
}

.circle-image
{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}