body {
    background-color: #292929;
    color: #808080;

    padding-left: 10em;
    text-align: left;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.circle-image {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Probably not the best way to do this, but I needed some way of separating a bunch of crap, and this should work */
.content-divider
{
    padding-top:2.5em;
    padding-bottom: 2.5em;
}

.link-button
{
    padding-top:1em;

    border-radius: 8px;

    font-size: large !important;
}

/* Past this point are a bunch of definitions for fonts. Very messy and repetitive. Please ignore */

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: inherit;
}